[submodule "sdf-fft"]
	path = sdf-fft
	url = https://github.com/milovanovic/sdf-fft.git
[submodule "lis"]
	path = lis
	url = https://github.com/milovanovic/lis.git
[submodule "magnitude"]
	path = magnitude
	url = https://github.com/milovanovic/magnitude.git
