[submodule "sdf-fft"]
	path = sdf-fft
	url = https://github.com/milovanovic/sdf-fft
[submodule "nco"]
	path = nco
	url = https://github.com/milovanovic/nco
[submodule "cfar"]
	path = cfar
	url = https://github.com/milovanovic/cfar
[submodule "windowing"]
	path = windowing
	url = https://github.com/milovanovic/windowing
[submodule "lis"]
	path = lis
	url = https://github.com/milovanovic/lis
[submodule "accumulator"]
	path = accumulator
	url = https://github.com/milovanovic/accumulator
[submodule "magnitude"]
	path = magnitude
	url = https://github.com/milovanovic/magnitude
